configuration {
    modi:                       "drun,filebrowser,window";
    show-icons:                 true;
    display-drun:               " Launcher";
    display-window:             " Active";
    display-filebrowser:        " Files";
    drun-display-format:        "{name}";
    window-format:              "{w} · {c} · {t}";

    hover-select:               true;
    me-select-entry:            "";
    me-accept-entry:            "MousePrimary";
    case-sensitive: 		    false;
}

/* This points to your separate theme file */
@theme "theme.rasi"
